@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Página de Consulta</h1>
    <p class="lead">Aqui se desplega una lista de Clientes Productos Oficinas y Pedidos.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Registrar Pedido &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Clientes From Backend</h2>
        <ul>
            @foreach (var cliList in Model) { 
            
            <li>@cliList.Nom_CPO</li>

            }

        </ul>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>